a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

li.main{
	float: left; /* 메인메뉴 가로방향 나열 */
} 

li.main>a {
	display: block; 
	width: 180px; 
	color: #333; 
	font-weight: bold;
	font-family: '굴림';
}

li.main>a:hover {
	cursor: pointer;
	color: #ff720b;
}

ul.submenu{
	margin-left: 0;
	font-size: 12px;
	font-family: '굴림';
	padding-left: 0;
	margin-top: 15px;
}

ul.submenu>li {
	display: block;
	width: 180px;
	height: 20px;
	color: #333;
}

ul.submenu>li:hover {
	color: #ff720b;
	cursor: pointer;
}