@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body, html {
	height: 100%;
	overflow: hidden; /* 스크롤 없애기 */
}

body {
	background: #fff1c6 url('../image2/bg.png') center center;
	background-size: cover;
}

#sunban-wrapper {
	width: 780px;
	margin: 50px auto;
}

#control-wrapper {
	width: 300px;
	height: 420px;
	position: fixed;
	left: 0;
	bottom: 0;
}

.sunban {
	height: 150px;
	margin-bottom: 50px;
	width: 780px;
	background: url('../image2/sunban.png') no-repeat center bottom;
}

.sunban li {
	float: left;
	width: 128px;
	height: 128px;
	cursor: pointer;
	
}

.money li {
	cursor: pointer;
}

.gun {
	width: 300px;
	height: 250px;
	background: url('../image2/gun.png') no-repeat;
	cursor: pointer;
	text-indent: -9999px;
}

.gun:active {
	background-position: bottom; /* 아래사진으로 바뀌는 효과 */
}

#msg {
	clear: both; /* float 속성 해제 */
	position: absolute;
	left: 700px;
	top: 500px;
	width: 400px;
	height: 50px;
	font-size: 20px;
	border: 10px groove orange;
	text-align: center;
	line-height: 50px;
}








